sumoenv/scenario/normal/2021-01-14/09-10/sf_traffic_od_210114_0910.csv
sumoenv/scenario/normal/2021-01-14/09-10/queue.xml
data/sf_traffic/sfmta_dataset/sf_vehicle_210110_210116.csv
data/sf_traffic/sfmta_dataset/sf_vehicle_010121_0001.csv